/* Nostro framework a 12 colonne RESPONSIVE con xs e md version */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*.debug [class*="col-"]{
  background-color: deepskyblue;
  height: 200px;
  border: 2px solid crimson; 
}*/

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 100%;
  margin: 0 auto;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

/* colonne */

[class*="col-"] {   /* tutte le classi che iniziano con col- hanno il codice sotto */
  float: left;
}

/* large screen */


/* col large screen */

.col-lg-1 {
  width: calc((100% / 12) *1);
}

.col-lg-2 {
  width: calc((100% / 12) *2);
}

.col-lg-3 {
  width: calc((100% / 12) *3);
}

.col-lg-4 {
  width: calc((100% / 12) *4);
}

.col-lg-5 {
  width: calc((100% / 12) *5);
}

.col-lg-6 {
  width: calc((100% / 12) *6);
}

.col-lg-7 {
  width: calc((100% / 12) *7);
}

.col-lg-8 {
  width: calc((100% / 12) *8);
}

.col-lg-9 {
  width: calc((100% / 12) *9);
}

.col-lg-10 {
  width: calc((100% / 12) *10);
}

.col-lg-11 {
  width: calc((100% / 12) *11);
}

.col-lg-12 {
  width: calc((100% / 12) *12);
}

/* end col large screen */


/* offsets large screen */

.col-offset-lg-1 {
  margin-left: calc((100% / 12) *1);
}

.col-offset-lg-2 {
  margin-left: calc((100% / 12) *2);
}

.col-offset-lg-3 {
  margin-left: calc((100% / 12) *3);
}

.col-offset-lg-4 {
  margin-left: calc((100% / 12) *4);
}

.col-offset-lg-5 {
  margin-left: calc((100% / 12) *5);
}

.col-offset-lg-6 {
  margin-left: 50%;
}

.col-offset-lg-7 {
  margin-left: calc((100% / 12) *7);
}

.col-offset-lg-8 {
  margin-left: calc((100% / 12) *8);
}

.col-offset-lg-9 {
  margin-left: calc((100% / 12) *9);
}

.col-offset-lg-10 {
  margin-left: calc((100% / 12) *10);
}

.col-offset-lg-11 {
  margin-left: calc((100% / 12) *11);
}

.col-offset-lg-12 {
  margin-left: 100%;
}

/* end offsets large screen */

/* end large screen */


/* media query col small */

/*@media all and (max-width: 768px) {

  .col-xs-1 {
    width: calc((100% / 12) *1);
  }

  .col-xs-2 {
    width: calc((100% / 12) *2);
  }

  .col-xs-3 {
    width: calc((100% / 12) *3);
  }

  .col-xs-4 {
    width: calc((100% / 12) *4);
  }

  .col-xs-5 {
    width: calc((100% / 12) *5);
  }

  .col-xs-6 {
    width: calc((100% / 12) *6);
  }

  .col-xs-7 {
    width: calc((100% / 12) *7);
  }

  .col-xs-8 {
    width: calc((100% / 12) *8);
  }

  .col-xs-9 {
    width: calc((100% / 12) *9);
  }

  .col-xs-10 {
    width: calc((100% / 12) *10);
  }

  .col-xs-11 {
    width: calc((100% / 12) *11);
  }

  .col-xs-12 {
    width: calc((100% / 12) *12);
  }

/*}

/* end media query col small */


/* media query offset small */

/*@media all and (max-width: 768px) {

  .col-offset-xs-1 {
    margin-left: calc((100% / 12) *1);
  }

  .col-offset-xs-2 {
    margin-left: calc((100% / 12) *2);
  }

  .col-offset-xs-3 {
    margin-left: calc((100% / 12) *3);
  }

  .col-offset-xs-4 {
    margin-left: calc((100% / 12) *4);
  }

  .col-offset-xs-5 {
    margin-left: calc((100% / 12) *5);
  }

  .col-offset-xs-6 {
    margin-left: 50%;
  }

  .col-offset-xs-7 {
    margin-left: calc((100% / 12) *7);
  }

  .col-offset-xs-8 {
    margin-left: calc((100% / 12) *8);
  }

  .col-offset-xs-9 {
    margin-left: calc((100% / 12) *9);
  }

  .col-offset-sg-10 {
    margin-left: calc((100% / 12) *10);
  }

  .col-offset-xs-11 {
    margin-left: calc((100% / 12) *11);
  }

  .col-offset-xs-12 {
    margin-left: 100%;
  }

}


/* media query col medium */

/*@media all and (min-width: 769px) and (max-width: 1200px) {

  .col-md-1 {
    width: calc((100% / 12) *1);
  }

  .col-md-2 {
    width: calc((100% / 12) *2);
  }

  .col-md-3 {
    width: calc((100% / 12) *3);
  }

  .col-md-4 {
    width: calc((100% / 12) *4);
  }

  .col-md-5 {
    width: calc((100% / 12) *5);
  }

  .col-md-6 {
    width: calc((100% / 12) *6);
  }

  .col-md-7 {
    width: calc((100% / 12) *7);
  }

  .col-md-8 {
    width: calc((100% / 12) *8);
  }

  .col-md-9 {
    width: calc((100% / 12) *9);
  }

  .col-md-10 {
    width: calc((100% / 12) *10);
  }

  .col-md-11 {
    width: calc((100% / 12) *11);
  }

  .col-md-12 {
    width: calc((100% / 12) *12);
  }

}

/* end media query col mediuam */


/* media query offset medium */

/*@media all and (min-width: 769px) and (max-width: 1200px) {

  .col-offset-md-1 {
    margin-left: calc((100% / 12) *1);
  }

  .col-offset-md-2 {
    margin-left: calc((100% / 12) *2);
  }

  .col-offset-md-3 {
    margin-left: calc((100% / 12) *3);
  }

  .col-offset-md-4 {
    margin-left: calc((100% / 12) *4);
  }

  .col-offset-md-5 {
    margin-left: calc((100% / 12) *5);
  }

  .col-offset-md-6 {
    margin-left: 50%;
  }

  .col-offset-md-7 {
    margin-left: calc((100% / 12) *7);
  }

  .col-offset-md-8 {
    margin-left: calc((100% / 12) *8);
  }

  .col-offset-md-9 {
    margin-left: calc((100% / 12) *9);
  }

  .col-offset-md-10 {
    margin-left: calc((100% / 12) *10);
  }

  .col-offset-md-11 {
    margin-left: calc((100% / 12) *11);
  }

  .col-offset-md-12 {
    margin-left: 100%;
  }

}

/* end media query offset medium */ 
