/*=============================================
    =            MEDIAQUERY SPOTIFY           =
=============================================*/



/*----------  Sezione media query per schermi lg ----------*/


@media all and (min-width: 1200px) { /* da 1200px in poi */

     .first {
        display: block;
    }

    .second {
        display: none;
    }

    .icons {
        flex-direction: row;
    } 

}


/*----------  Sezione media query per schermi md ----------*/


@media all and (min-width: 769px) and (max-width: 1200px)  {

    /* tra 769px e 1200px */

     nav {
        flex-wrap: wrap;
    }
    
    .recently_played div.col-lg-2:nth-child(3) {
       height: 0;
    }

    .recently_played div.col-lg-2:nth-child(6) > div:nth-child(1),
    .recently_played div.col-lg-2:nth-child(7) > div:nth-child(1) {
        margin-top: 100px;
    }

    .first {
        display: block;
    }

    .second {
        display: none;
    }
    
    .icons {
        flex-direction: row;
    }

    .player {
        width: 35%;
    }

    .player i {
        font-size: 1.2rem;
    }

    #special {
        font-size: 2.5rem;
    }

}



/*----------  Sezione media query per schermi sm ----------*/


@media all and (min-width: 577px) and (max-width: 768px) {  
    /* tra 576px e 768px */
    
    nav {
        flex-wrap: wrap;
    }

    .first {
        display: block;
    }

    .second {
        display: none;
    }

    
    .icons {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .player {
        width: 30%;
    }

    .player i {
        font-size: 1.2rem;
        margin: 0 10px 10px;
    }

    #special {
        font-size: 2.5rem;
        margin: 0 10px 10px;
    }

    
}


/*----------  End of Sezione media query per schermi sm -------*/



/*----------  Sezione media query per schermi xs ----------*/

@media all and (max-width: 576px) {   /* fino a 576px */

    .aside_general {
        width: 70px;
    }

     nav {
        flex-wrap: wrap;
    }

    .first {
        display: none;
    }

    .second {
        display: block;
        width: 50%;
    }


    .home span, .playlist, .profile span {
        display: none;
    }


    .username {
        border-top: 0;
    }

    .player i {
        font-size: 1rem;
    }


    .other_commands i { 
        margin: 0 3px;
        font-size: 1rem;
    }


    .icons {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .mini_grey {
        width: 10%;
    }

}

/*----------  End of Sezione media query per schermi xs ----------*/



  
