/*=============================================
    =            MEDIAQUERY SPOTIFY           =
=============================================*/



/*----------  Sezione media query per schermi md ----------*/


@media all and (min-width: 769px) and (max-width: 1200px)  {
    .recently_played div.col-lg-2:nth-child(3) {
       height: 0;
    }

    .recently_played div.col-lg-2:nth-child(6) > div:nth-child(1),
    .recently_played div.col-lg-2:nth-child(7) > div:nth-child(1) {
        margin-top: 75px;
    }

    body {
        overflow-y: scroll;
    }

}



/*----------  Sezione media query per schermi xs ----------*/


@media all and (max-width: 768px) {
    
    body {
        overflow-y: scroll;
    }
    
    nav {
        flex-wrap: wrap;
    }

    .aside_general {
        width: 70px;

    }
}




/*

•	480 px (schermi piccoli, cellulari)
•	768 px (schermi medi, tablet) - xs - 
•   tra 769px e 1200px (schermi medi e medio-grandi tv, laptop) - md -
•	1200px + (schermi grandi, tv) - lg -

/*