
/*=============================================
    =            CSS SPOTIFY           =
=============================================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  color: white !important;
  font-family: "GothamPro", "Montserrat", "sans-serif" !important;
  width: 100% !important;
}

.main_box { 
    flex-direction: column !important;
    justify-content: space-between !important;
}  

.site_main{
  height: calc(100% - 100px);
} 



/*----------  Utility classes  ----------*/

.d_flex {
  display: flex;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
}

[class*="col-"] {
  padding-right: 10px;
  padding-left: 10px;
}



/*----------  Color palette  ----------*/

.header_c {
    background-color: rgb(8, 18, 18);
}

.aside_c {
    background-color: rgb(0, 0, 0);
}

.main_c {
    background-color: rgb(20, 25, 34);
}

.playlist_c {
    color: rgb(163, 163, 163);
}

.footer_c {
  background-color: rgb(40, 40, 40);
}



/*=============================================
    =            Header Section            =
=============================================*/

.site_header {
    justify-content: space-between;
    padding-top: 20px;
}

.custom_button {
    border: 1px solid white !important;
    background-color: rgb(8, 18, 18) !important;
    color: white !important;
    border-radius: 30px !important;
    font-size: 1.2rem !important;
    font-weight: 400 !important;
    margin: 0 10px 30px 0 !important;
    padding: 12px 40px !important;    
}

.logo {
  padding-left: 20px;
  cursor: pointer;
  justify-content: flex-start;
  background-color: rgb(0, 0, 0) !important;
}

.logo > img {
    height: 60%;
     background-color: rgb(0, 0, 0) !important;
}

/*=====  End of Header section  ======*/



/*=============================================
    =            Aside section            =
=============================================*/

.aside_general {
    width: 40vh !important;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
}

/*----------  Aside upper section  ----------*/

.aside_upper a, .aside_bottom a {
  width: fit-content;
}

.aside_upper li a {
  display: flex;
  align-items: center;
}

.aside_upper li img {
  width: 30px;
}


/* Home sub_section */

.home {
  position: relative;
  margin: 30px 0;
}

.home span {
  margin-left: 10px;
}

.home li a {
  padding-left: 20px;
  height: 45px;
}

.home li a:hover, .home li img:hover {
  transform: scale(0.9) !important;
  color:  white !important;
}


/* End of Home sub_section */


/* Playlist sub_section */

/* New playlist sub_sub_section */

.new_playlist {
  margin-left: 20px;
}

.new_playlist .fas {
  font-size: 40px;
}

.playlist h5, .new_playlist span {
  font-size: 1.6rem; 
  font-weight: 600;
  margin-left: 20px;
}

.new_playlist span {
  margin-left: 10px;
}

.new_playlist a {
    display: flex;
    align-items: center;
   
}

.new_playlist a:hover .fas, .new_playlist a:hover span {
  color: white;
}

/* End New playlist sub_sub_section */


/* Nome playlist sub_sub_section */

.nome_playlist ul li {
  margin: 20px 0;
}

.nome_playlist li a {
    margin-left: 20px;
    color: rgb(163, 163, 163) !important;
}

.nome_playlist li a:hover {
    color: white !important;
} 

/* End Nome playlist sub_sub_section */

/* End of Playlist sub_section */


/*----------  End of Aside upper section  ----------*/



/*----------  Aside bottom section  ----------*/

.aside_bottom {
  padding: 20px 20px 0;
}

.install a {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: rgb(163, 163, 163);
}

.install a:hover {
  color: white;
}

.install img {
  height: 15px;
  margin-right: 10px;
}

.username {
  border-top: 1px solid rgb(163, 163, 163);
  padding: 15px 15px 10px 0;
}

.username a {
  display: flex;
  align-items: center;
}

.username span {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}

.username img {
  width: 25px;
  height: 25px;
  background-color: rgb(163, 163, 163);
  border-radius: 100%;
  margin-right: 10px;
}

/*----------  End of Aside bottom section  ----------*/

/*=====  End of Aside section  ======*/



/*=============================================
    =            Music section            =
=============================================*/

.music {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 15px;
}

.music h2 {
  font-size: 2.6rem;
  font-weight: 600;
  padding-bottom: 20px;
}
  
/*----------  Navbar section  ----------*/

nav {
    justify-content: center !important;
}

nav a {
  margin: 25px 15px;
  color: rgb(163, 163, 163);
  position: relative;
}

nav a:hover {
  transform: scale(1.2);
  color: rgb(163, 163, 163) !important;
}

nav a span::after {
  position: absolute;
  display: table;
  content: '';
  clear: both;
  width: 40px;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 3px solid rgb(173, 255, 47);
  visibility: hidden;
}

nav a span:hover::after {
  visibility: visible;
}

/*----------  End of Navbar section  ----------*/


/*----------  Recently played section  ----------*/

.song img {
  width: 100%;
  margin-bottom: 15px;
}

.song h4 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 7px;
}

.song p {
  color: rgb(163, 163, 163);
  font-size: 1.2rem;
  font-weight: 500;
}

.song h4, .song p {
  text-align: center;
}


/* Layer sub_section */

.card {
  position: relative;
}

.play_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  color: white;
  background-color: black;
  opacity: 0;
}

.layer:hover {
  opacity: 0.9;
  cursor: pointer;
}

.play_icon .fa-play-circle{
  font-size: 50px;
}

/* End of layer sub_section */

/*---------- End of Recently played section  ----------*/


/*----------  John Doe and popular artists section  ----------*/

.created_for h2, .popular_artists h2 {
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 25px;
}

.subtitle {
  margin: 10px 0 30px 0;
  color: rgb(163, 163, 163);
  font-size: 1.2rem;
  font-weight: 500;
}

.popular_artists img {
  border-radius: 50%;
}

.popular_artists .layer {
  border-radius: 48%;
}

/*---------- End of John Doe and popular artists section  ----------*/


/*=====  End of Main section  ======*/


/*=============================================
        =            Footer            =
=============================================*/

.site_footer {
  height: 100px;
}
.tracker {
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

/*---------- Current song section  ----------*/

.current_song {
  width: 20%;
  justify-content: space-between;
}

.current_song_img {
  align-items: center;
}

.current_song_img img {
  height: 50px;
  margin: 0 15px;
}

.icons {
  color: rgb(163, 163, 163);
  align-items: center;
}

.icons i {
  font-size: 1rem;
  margin: 0 6px;
}

.icons:hover {
  color: white;
}

.current_song_img h4 {
  margin: 0;
  padding: 0;
}

.current_song_img p {
  color: rgb(163, 163, 163);
  margin: 0;
  padding: 0;
}


/*---------- End of Current song section  ----------*/


/*---------- Player section  ----------*/


.player {
  flex-flow: column;
  width: 40%;
  justify-content: space-around;
}

.player i {
  font-size: 1.1rem;
  margin: 0 15px 15px;
}

.commands {
  justify-content: center;
  align-items: center;
}

.commands>i.far.fa-play-circle {
  font-size: 2rem;
}


/* Time sub section */


.time {
  flex-flow: row;
  align-items: center;
}

.time .cursor {
  height: 5px;
  width: 100%;
  background-color: gray;
  border-radius: 10px;
  margin: 0 20px;
}

.time .cursor_layer {
  height: 5px;
  width: 25%;
  background-color: lightgray;
  border-radius: 10px;
}

/* End of Time sub section */

/*---------- End of Player section  ----------*/


/*---------- Other commands section  ----------*/


.other_commands {
  width: 20%;
  align-items: center;
}

.other_commands i {
  margin: 0 10px;
  font-size: 1rem;
}

.other_commands .cursor {
  height: 5px;
  width: 100%;
  background-color: gray;
  border-radius: 10px;
  margin: 0 20px 0 5px;
}

.other_commands .cursor_layer {
  height: 5px;
  width: 25%;
  background-color: lightgray;
  border-radius: 10px;
}

/*---------- End of Other commands section  ----------*/


/*=====  End of Footer  ======*/




















